@{
    ViewBag.Title = "Trousers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div.result
    {
        min-height: 400px;
        background-color: lightgray;
        clear: both;
    }
</style>

<div class="metro chunk1">
    trousers<br />

    <div style="font-size: 16pt; margin-top: 18pt;">
        a faster way to get into tfs
    </div>

</div>

<div class="metro chunk3">
    <form name="form" id="form">
        <input type="hidden" id="plugin" name="plugin" value="BurnDown" />
        <input type="text" name="expr" id="expr" title="Type a search expression here" placeholder="Type a search expression here" />
    </form>
</div>

<div id="result" class="metro chunk4 result"></div>

@section scripts{

    <script type="text/javascript">
        displayChart = function (chart) {
            var data = google.visualization.arrayToDataTable(chart.Content.data);
            var options = chart.Content.options;

            var divResult = $("#result");
            divResult.html('<div id="chart"></div>');
            var googleChart = new google.visualization.AreaChart($("#chart")[0]);
            googleChart.draw(data, options);
        };

        displayHtml = function (html) {
            $("#result").html(html);
        };

        onSuccess = function (result) {
            if (result.IsChart) {
                displayChart(result);
                return;
            }

            displayHtml(result);
        };

        onInput = function (e) {
            var data = $("#form").serialize();
            $.post("/Home/Search", data, onSuccess);
        };

        $(document).ready(function () {
            $("#expr")
                .bind("input", onInput)
                .focus();
        });
    </script>
}
