@model Trousers.Web.Models.Home.InteractiveModel
@{
    ViewBag.Title = "Trousers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    body
    {
        overflow-y: scroll;
    }
    
    div.result
    {
        min-height: 400px;
        background-color: lightgray;
        clear: both;
    }

    span.searchAction
    {
        cursor: pointer;
    }
</style>

<div class="metro chunk1">
    trousers<br />

    <div style="font-size: 16pt; margin-top: 18pt;">
        a faster way to get into tfs
    </div>

</div>

<div class="metro chunk3">

    <div>
        <form name="form" id="form">
        <input type="hidden" id="searchAction" name="searchAction" value="@Model.SearchActions.First()" />
        <input type="text" name="expr" id="expr" title="Type a search expression here" placeholder="Type a search expression here" />
        </form>
    </div>

    <div>
        @foreach (var searchAction in Model.SearchActions)
        {
            <span class="searchAction">@searchAction</span>
        }
    </div>

</div>

<div id="result" class="metro chunk4 result" style="font-size: 10pt;"></div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Home/Interactive.js"></script>
}
